#!/usr/bin/make -f
# SPDX-License-Identifier: GPL-3.0-or-later

export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export PREFIX = /usr

%:
	dh $@

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/anytone PREFIX=/usr
